@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    /* border: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:visited {
    color: inherit;
}
a img {
    cursor: pointer;
}
li {
    list-style-type: none;
}
body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
.blue {
    color: #005b96;
}
.title {
    font-size: 2rem;
    text-align: center;
    width: 100%;
}
.nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: right;
    height: 100px;
    align-items: center;
    padding: 0 100px;
    font-size: 1.25rem;
    left: 0;
}

#myVideo {
    position: absolute;
    height: auto;
    width: 100%;
    border: 0;
    top: 0;
    object-fit: cover;
    z-index: -1;
}
.nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 50%;
}
.menu-toggle {
    display: none;
}
.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
.nav ul li a {
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
}

.nav ul li a:hover {
    color: white;
}

.nav ul li a.active {
    color: white;
}

#introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: white;
    padding-top: 70px;
}

/* Introduction */
#introduction > h1 {
    font-size: 4.25rem;
    text-shadow: 5px 5px #333;
}
.btn-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
#introduction .btn {
    border: 2px solid #005b96;
    padding: 10px 20px;
    border-radius: 30px;
    color: #005b96;
    transition: 0.3s;
}

#introduction .btn:hover {
    background-color: #333;
    color: white;
    border: 2px solid #333;
}
#introduction .btn-primary {
    color: white;
    background-color: #005b96;
    border: 0;
    border: 2px solid #005b96;
}

/* About */
#about,
#skill,
#contact,
#project,
#experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    min-height: 100vh;
    margin-top: 50px;
}

.about-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 80%;
}

.about-container {
    width: 100%;
    height: auto;
    position: relative;
}

.dot {
    position: absolute;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 100%;
    left: -5px;
    top: 5px;
}

.line {
    height: 130px;
    width: 5px;
    background: black;
    position: absolute;
}

.experience-container {
    margin-top: 50px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.experience-content {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
}

.date {
    border-left: 5px solid black;
    padding-left: 10px;
}
.line:first-child {
    border-radius: 20px 20px 0 0;
}

.line:nth-child(2) {
    border-radius: 0 0 20px 20px;
}

.bold {
    font-weight: 600;
}

.date {
    margin-bottom: 10px;
}

/* .left {
    left: -520px;
    text-align: right;
} */
.summary {
    padding: 10px;
}

.summary p {
    font-size: 2.5rem;
    font-weight: 500;
}

.section-divider {
    background-image: url("./Images/parallax2.jpg");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.skill-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    gap: 50px;
    width: 100%;
    align-items: center;
}

.skill-card {
    padding: 10px;
}

.skill-card-title {
    font-size: 4vw;
    margin-bottom: 20px;
    font-weight: 600;
}

.skill-card-description {
    font-size: 1.25rem;
}

.skill__reverse {
    flex-direction: row-reverse;
}
.skill-row > img {
    width: 100%;
    max-width: 500px;
    height: auto;
}
/* Project */

#project > p:nth-child(2) {
    margin-top: 20px;
}
#project {
    text-align: center;
}
#project > p {
    font-size: 2.25rem;
}

#project > p:nth-child(3) {
    margin-top: 30px;
}
#project a {
    display: inline-block;
    border-bottom: 3px solid #005b96;
    height: 45px;
    /* text-decoration: underline; */
}
/* Contact */
#contact > p {
    text-align: center;
}
.icons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 20%;
    gap: 20px;
}

/* Footer */
#footer {
    background-color: #005b96;
    color: white;
    padding: 50px 0 20px 0;
}

#footer a {
    color: inherit;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.copyright {
    text-align: center;
    display: block;
    margin-top: 50px;
}

.social-link a:hover {
    border-bottom: 0.5px solid white;
}

.footer-title {
    margin-bottom: 20px;
    font-weight: 600;
}
.footer-ul-li {
    width: 100%;
    display: flex;
    gap: 10px;
}
.footer-ul-li a {
    font-size: 0.8rem;
    height: 20px;
}

.footer-ul-li a:hover {
    border-bottom: 0.5px solid white;
}
.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    z-index: 1;
    display: none;
}
/* @media screen and (max-width: 1000px) {
    .nav {
        padding: 20px;
    }
    .nav ul {
        font-size: 1rem;
    }

    /* introduction */
/* #introduction > h1 {
        font-size: 3rem;
    }

    .experience-container {
        margin-top: 50px;
        max-width: 60%;
        position: relative;
        align-self: start;
        left: 20px;
    }


} */
@media screen and (max-width: 900px) {
    #about,
    #skill,
    #contact,
    #project,
    #experience {
        padding: 20px;
    }
    #myVideo {
        display: none;
    }

    #introduction {
        background: #1f63ac;
    }
    .skill-card-description {
        font-size: 1rem;
    }
    .section-divider {
        display: none;
    }
    .menu-toggle {
        display: flex;
    }
    .nav {
        padding: 0 10px;
        width: 100%;
        height: 40px;
        background-color: #1f63ac;
        position: fixed;
        z-index: 1;
    }
    .nav ul {
        position: absolute;
        right: 0;
        top: 0;
        background-color: white;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        left: -100%;
        transition: left ease-out 0.3s;
    }
    .nav ul li {
        border-bottom: 1px solid #333;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav ul li a:hover {
        color: white;
    }

    .nav ul li a.active {
        color: white;
    }

    .nav ul.nav-active {
        left: 0;
    }
    .menu-active span {
        background-color: #333;
    }
    .menu-active span:nth-child(1) {
        transform-origin: 0 0;
        transform: rotate(45deg) translate(-1px, -1px);
    }
    .menu-active span:nth-child(2) {
        margin-left: -100px;
        opacity: 0;
    }
    .menu-active span:nth-child(3) {
        transform-origin: 0 100%;
        transform: rotate(-45deg);
    }

    /* introduction */
    #introduction > h1 {
        font-size: 2.25rem;
    }
    .summary p {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .btn-container {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    .about-container {
        flex-direction: column-reverse;
        width: 100%;
    }
    .skill-row {
        flex-direction: column;
    }
    .icons {
        width: 40%;
    }

    .experience-container {
        margin-top: 50px;
        max-width: 100%;
        position: relative;
        align-self: start;
    }

    .skill-row > img {
        max-width: 600px;
    }

    .experience-content {
        /* left: 20px; */
        /* top: 20px; */
        font-size: 0.9rem;
    }

    #project p {
        font-size: 1rem;
        margin: 0;
    }

    #project p:nth-child(3) {
        margin: 0;
    }
    .left {
        left: 20px;
        text-align: left;
    }

    .line {
        max-height: 150px;
        max-width: 100%;
    }
    #introduction .btn {
        background-color: #333;
        color: white;
    }

    #introduction .btn-primary {
        color: white;
        background-color: #005b96;
        border: 0;
        border: 2px solid #005b96;
    }
}
